# Binarios y builds
compilados/
build/
dist/
*.exe
*.msi
*.apk
*.dmg
*.deb
*.rpm
*.spec
*.bat
*.cmd
*.zip

# Entorno
.env
.env.*
bot_telegram/config.json

# Base de datos
*.db
*.sqlite

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# PyInstaller
*.manifest

# Logs
*.log
logs/

# Updates
MobilDesk/updates/

# Build caches
MobilDesk POS/build_kiosko/
MobilDesk POS/package/
__pycache__/
